.contact {
    height: auto;
    background-color: $page-color;
    padding-bottom: 5vh;

    p {
        
        font-weight: 500;
        font-size: calc(1rem + 1vw);
        letter-spacing: 0.035em;
        color: #8A8989;
    }


    .contact-card {
        padding-top: 2rem;
        padding-bottom: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (min-width: 700px) {
            flex-direction: row;
            justify-content: space-around;
        }

        .svg {
            height: calc(3em + 2vw);
            width: calc(6rem + 2vw);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .service-card {
            position: relative;
            margin: 10px 0;
            height: 15vh;
            background: $linear;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: calc(80% + 1.5rem); 
            max-width: 500px;
            padding: 1.5em .5em;
            background-color: white;
            box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            z-index: 13;

            @media (min-width: 700px) {
                flex-direction: column;
                width: calc(25% + 1.5rem); 
                height: 30vh;
            }

            p {
                width: 100%;
                color: white;
                font-size: calc(.58rem + 1vw);
            }

            .map {
                background-image: url("../images/location.svg");
            }

            .phone {
                background-image: url("../images/phone-call.svg");
            }
            
            .email {
                background-image: url("../images/email.svg");
            }

        }

    }


    .contact-form {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        width: 100%;
        box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
        margin: auto;
        padding-top: 5em;
        text-align: center;
        height: auto;
        padding-bottom: 10rem;

        @media (min-width:700px) {
            width: 90%;
        }
        
      

        input, textarea {
            background: #ECECEC;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 39px;
            border: none;
            outline: none;
            margin-top: 2em;
            padding: 1em 2em;
            font-weight: 600;
            color: black;
        }
        .form {
            position: relative;
            margin: .5em auto;
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: space-around;
            @media (min-width: 700px) {
                flex-direction: row;
                width:  80%;

                input {
                    width: 30%;
                }
         }

        }

        textarea {
                width: 80%;
                margin: 2em auto;
                height: 30vh;   
                resize: none;
        }

        button {
            width: 40%;
            margin: auto;

            @media (min-width: 700px) {
                width: 25%;
         }
        }
    }
}